.volume {
  position: relative;
  .content {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    width: 100px;
    height: 30px;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    opacity: 1;
    transition: all 0.5s ease;
    visibility: visible;
  }
  .hide {
    opacity: 0;
    visibility: hidden;
  }
}
