.album {
  width: 980px;
  margin: 0 auto;
  .head {
    display: flex;
    .logo {
      border: 1px solid #dcdcdc;
      padding: 4px;
      margin-right: 16px;
      .img {
        display: block;
        width: 200px;
      }
    }
    .main {
      .name {
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        letter-spacing: 2px;
      }
      .nickname {
        margin-bottom: 16px;
      }
      .tags {
        margin-bottom: 16px;
      }
    }
  }
  .list {
  }
}
