@import '~@/css/animation.less';
.player {
  height: 50px;
  .audio {
    height: 100%;
    display: flex;
    align-items: center;
    .menu {
      display: flex;
      align-items: center;
      .button {
        padding: 0 8px;
        svg {
          color: #fff;
        }
      }
    }
  }
}
